.v-touch-ripple {
  position: relative;

  :not(:last-child) {
    z-index: 1;
  }

  > .ripples {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    pointer-events: none;

    > .ripple-item {
      display: block;
      position: absolute;
      border-radius: 50%;

      &.ripple-leave-to {
        opacity: 0 !important;
      }
    }
  }
}
